*, 
*::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
//fuentes
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Noto+Sans:wght@400;600&display=swap');

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans', sans-serif;
*/

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

.contenedor {
    max-width: 1200px;
    margin: auto;
}