//colores
$azul: #023047;
$amarillo: #ffb703;
$naranja: #fb8500;
$blanco: #fff;
$negro: #000;
$rojo: #bf0603;
$verde: #219c44;

//mediaquery
$mobile: 468px;
$tablet: 768px;
$desktop: 1200px;

//fuentes
$fuente-monserrat: 'Montserrat', sans-serif;
$fuente-noto: 'Noto Sans', sans-serif;